<template>
    <main class="post__container">
        <img
            class="avatar__image"
            :src="`https://avatars.dicebear.com/api/big-smile/${author}.svg`"
            :alt="`Author ${author} avatar`"
        />
        <section class="post__info">
            <h1>{{ author }}</h1>
            <h2>{{ title }}</h2>
            <p>{{ text }}</p>
            <router-link class="comment_button" :to="`/post/${id}`"
                >Comments</router-link
            >
        </section>
    </main>
</template>

<script>
export default {
    name: "PostUI",
    props: {
        author: String,
        title: String,
        text: String,
        id: String,
    },
};
</script>

<style scoped>
.post__container {
    position: relative;
    background: #f1f1f1;
    margin: 5rem 3rem;
    padding: 4.5rem 2rem 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    max-width: 25rem;
}
.avatar__image {
    position: absolute;
    width: 9rem;
    aspect-ratio: 1;
    padding: 0.5rem;
    top: -20%;
    background-color: #f1f1f1;
    border-radius: 50%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.post__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: black;
    text-align: center;
}
h1 {
    font-family: "Heebo", sans-serif;
    color: #213547;
    border-bottom: #ff416c solid 2px;
    padding-bottom: 2rem;
}

h2 {
    font-family: "Raleway", sans-serif;
    color: #213547;
    padding: 0;
}

p {
    font-family: "Raleway", sans-serif;
    color: #213547;

    padding: 1rem 0;
}
.comment_button {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #ff416c;
    text-decoration: none;
    border: #ff416c solid 2px;
    border-radius: 15px;
    width: 50%;
    align-self: center;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}
.comment_button:hover {
    border: #f1f1f1 solid 2px;
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    color: whitesmoke;
}
</style>
