<template>
    <div class="post-detail__container">
        <aside class="author_container">
            <img
                :src="`https://avatars.dicebear.com/api/big-smile/${post.author}.svg`"
                :alt="`Author ${post.author} avatar`"
            />
            <h1>{{ post.author }}</h1>
        </aside>
        <main class="detail_container">
            <div class="single-post__container">
                <h2>{{ post.title }}</h2>
                <span>{{ post.text }}</span>
            </div>
            <div class="comment__container">
                <h2>Comments</h2>
                <section
                    class="comment_detail__container"
                    v-for="comment in post.comments"
                    :key="comment.id"
                >
                    <aside class="comment_author-detail">
                        <img
                            :src="`https://avatars.dicebear.com/api/big-smile/${comment.author}.svg`"
                            :alt="`Author comment ${comment.author} avatar`"
                        />
                        <h3>{{ comment.author }}</h3>
                    </aside>
                    <span>{{ comment.content }}</span>
                </section>
            </div>
        </main>
    </div>
</template>

<script>
console.log("rendering post ui detail");
export default {
    name: "PostDetailUI",
    props: {
        post: Object,
    },
};
</script>

<style scoped>
.post-detail__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.author_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #f1f1f1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.author_container img {
    width: 70%;
    aspect-ratio: 1;
    border-bottom: #213547 solid 1px;
}

.author_container h1 {
    font-family: "Raleway", sans-serif;
    font-size: 72px;
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
}
.detail_container {
    margin-left: 25%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.single-post__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1e3c72; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #2a5298,
        #1e3c72
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #2a5298,
        #1e3c72
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.single-post__container span {
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 1rem;
    width: 95%;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-align: center;
}
.single-post__container h2 {
    font-family: "Heebo", sans-serif;
    font-size: 30px;
    color: #f1f1f1;
}
.comment__container {
    padding: 1rem;
    width: 80%;
    align-self: center;
}

.comment__container h2 {
    font-family: "Raleway", sans-serif;
    color: #213547;
}
.comment__container img {
    background: #f1f1f1;
    border-radius: 50%;
    padding: 0.5rem;
    width: 5rem;
    aspect-ratio: 1;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.comment_detail__container {
    margin: 1rem 0;
    padding: 0.5rem;
    background: #ff416c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ff4b2b,
        #ff416c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ff4b2b,
        #ff416c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
}
.comment_author-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment_author-detail h3 {
    font-family: "Heebo", sans-serif;
    color: #f1f1f1;
    padding: 0;
}
.comment_detail__container span {
    margin-left: 0.5rem;
    padding: 0 1rem;
    background: #f1f1f1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}
</style>
