<template>
    <h1>Welcome to <span>Blog the house down</span></h1>
    <p>Probably the best blog in the whole world</p>
    <div class="post__container">
        <PostUI
            v-for="post in allPost"
            :key="post.id"
            :author="post.author"
            :text="post.text"
            :title="post.title"
            :id="post.id"
        />
    </div>
</template>

<script>
import PostUI from "../ui/post-ui.vue";
import { GetAllPublicPostsUseCase } from "../useCases/get-all-public-posts.useCase";

export default {
    name: "PostPage",
    components: {
        PostUI,
    },
    data() {
        return {
            allPost: [],
        };
    },
    methods: {
        async getPost() {
            const useCase = new GetAllPublicPostsUseCase();
            const posts = await useCase.execute();
            this.allPost = posts;
        },
    },
    created() {
        this.getPost();
    },
};
</script>

<style scoped>
.post__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: "Heebo", sans-serif;
    font-size: 72px;
    color: #213547;
}
span {
    font-family: "Heebo", sans-serif;
    font-size: 72px;
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    margin-bottom: 5rem;
    color: rgba(60, 60, 60, 0.7);
}
</style>
