<template>
    <div>
        <PostDetailUI :post="singlePost" />
    </div>
</template>

<script>
import { GetAllCommentsFromPostUseCase } from "../useCases/get-all-comments.useCase";
import PostDetailUI from "./../ui/post-detail.ui.vue";
export default {
    name: "PostDetail",
    components: {
        PostDetailUI,
    },
    data() {
        return {
            singlePost: {},
        };
    },
    methods: {
        async getPostDetail() {
            const useCase = new GetAllCommentsFromPostUseCase();

            const postDetail = await useCase.execute(this.$route.params.id);
            console.log("single post", postDetail);
            this.singlePost = postDetail;
        },
    },
    created() {
        this.getPostDetail();
    },
};
</script>

<style lang="scss" scoped></style>
