@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Heebo:wght@900&family=Raleway:wght@300&display=swap');

body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#app{
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}